@import './spin.scss';
@import './header.scss';
@import './homer.scss';

.slot-machine-main {
    display: flex;
    gap: 100px;
}

.machine {
    background-image: url('@img/machine.jpg');
    width: 398px;
    height: 95vh;
    min-height: 500px;
    border-radius: 10px;
    position: relative;
    margin: 2.5vh 0 2.5vh 200px;
    box-shadow: -5px 5px 35px 0 #000;
    background-repeat: no-repeat;
    max-height: 870px;

    &__title {
        font-family: Starborn;
        font-size: 50px;
        color: #A985E3;
        text-shadow: -3px 1px 3px #000;
        letter-spacing: 0.035em;
        margin: 0;
        text-align: center;
        padding-top: 12px;
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        padding: 20px 40px 0;
    }

    &__item {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-top: 10px;
    }

    &__circle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #A03B3B;
        border: 1px solid #363636;

        &_1.active {
            animation: bulb .5s,
            bulb .5s .6s,
            bulb .5s 1.2s forwards,
            bulb .5s 8.8s reverse,
            bulb .5s 9.4s reverse,
            bulb .5s 10s forwards reverse;
        }

        &_2.active {
            animation: bulb .5s .1s,
            bulb .5s .7s,
            bulb .5s 1.3s forwards,
            bulb .5s 8.9s reverse,
            bulb .5s 9.5s reverse,
            bulb .5s 10.1s forwards reverse;
        }

        &_3.active {
            animation: bulb .5s .2s,
            bulb .5s .8s,
            bulb .5s 1.4s forwards,
            bulb .5s 9s reverse,
            bulb .5s 9.6s reverse,
            bulb .5s 10.2s forwards reverse;
        }

        &_4.active {
            animation: bulb .5s .3s,
            bulb .5s .9s,
            bulb .5s 1.5s forwards,
            bulb .5s 9.1s reverse,
            bulb .5s 9.7s reverse,
            bulb .5s 10.3s forwards reverse;
        }
    }

    &__status {
        font-family: Starborn;
        font-size: 50px;
        color: #A985E3;
        letter-spacing: 0.035em;
        margin: 70px 0 0 20px;
        text-align: center;
        text-shadow: -3px 1px 3px #000;
    }

    &__arm {
        position: absolute;
        right: -55px;
        top: 50%;
    } 
}

@media screen and (max-width: 750px) {
    .machine {
        margin: 2.5vh auto;
        min-height: 655px;

        &__status {
            display: none;
        }

        &__arm {
            right: 35px;
            top: 540px;
        } 
    }
}

@media screen and (max-width: 400px) {
    .machine {
        background-position: center -10px;
        width: 100%;

        &__title {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 375px) {
    .machine__list {
        padding: 20px 20px 0;
    }
}

@keyframes bulb {
    from {
        background: #A03B3B;
        box-shadow: none;
    }
    to {
        background: radial-gradient(56.67% 56.67% at 50% 50%, #FF9D9D 0%, #FF0000 100%), #FF0000;
        box-shadow: 0px 0px 15px 12px rgba(255, 9, 9, 0.25);
    }
  }
