.body {
    background-color: #B391EB;
    width: 100%;
}

.games-list {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    padding: 100px 0;
}

.game {
    &__link {
        display: flex;
        text-decoration: none;
    }

    &__box-name {
        background-image: url('@img/bounding-box.png');
        background-size: cover;
        width: 489px;
        height: 275px;
        box-sizing: border-box;
        padding: 30px 60px;
        transform: scaleX(0);
        transition: all 1s ease;
    }

    &__name {
        font-family: Starborn;
        font-size: 70px;
        color: #fff;
        letter-spacing: 0.035em;
        text-shadow: -3px 1px 3px #000;
        margin: 0;
    }

    &__description {
        font-family: Roboto;
        font-weight: 900;
        color: #fff;
        font-size: 32px;
        margin: 15px 0 0;
    }

    &__image {
        width: 520px;
        height: 275px;
        background-size: cover;
        opacity: 0.5;
        transition: all 1s ease;
        border-radius: 30px;
    }

    &:hover,
    &:active {
        .game__box-name {
            transform: scaleX(100%);
        }
        .game__image {
            opacity: 1;
            transform: translateX(130px);
        }
    }
}

.image-game-1 {
    background-image: url('@img/cover-game-bottle.png');
}

.image-game-2 {
    background-image: url('@img/cover-game-sm.png');
}
.image-game-3 {
    background-image: url('@img/cover-game-differences.jpg');
    background-position: bottom;
}



