.games-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    padding: 100px 140px 100px 20px;
}

.game {
    &__link {
        display: flex;
        text-decoration: none;
    }

    &__box-name {
        background-image: url('@img/bounding-box.png');
        background-size: cover;
        width: 489px;
        height: 275px;
        box-sizing: border-box;
        padding: 30px 60px;
        transform: scaleX(0);
        transition: all 1s ease;
    }

    &__name {
        font-family: Starborn;
        font-size: 70px;
        color: #fff;
        letter-spacing: 0.035em;
        text-shadow: -3px 1px 3px #000;
        margin: 0;
    }

    &__description {
        font-family: Roboto;
        font-weight: 900;
        color: #fff;
        font-size: 32px;
        margin: 15px 0 0;
    }

    &__image {
        transform: translateX(-200px);
        width: 520px;
        height: 275px;
        background-size: cover;
        opacity: 0.5;
        transition: all 1s ease;
        border-radius: 30px;
    }

    &:hover,
    &:focus {
        .game__box-name {
            transform: scaleX(100%);
        }

        .game__image {
            opacity: 1;
            transform: translateX(130px);
        }
    }
}

.image-game-1 {
    background-image: url('@img/decks-cover.jpg');
}

.image-game-2 {
    background-image: url('@img/cover-game-sm.png');
}

.image-game-3 {
    background-image: url('@img/cover-game-differences.jpg');
    background-position: bottom;
}

@media screen and (max-width: 1200px) {
    .game {
        &__box-name {
            width: 400px;
            height: 225px;
        }

        &__name {
            font-size: 55px;
        }

        &__image {
            height: 225px;
            width: 400px;
        }

        &:hover,
        &:focus {
            .game__image {
                transform: translateX(50px);
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .games-list {
        padding: 50px 20px;
    }

    .game {
        &__link {
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 10px 0 #000;
            border-radius: 10px;
            overflow: hidden;
        }

        &__box-name {
            width: fit-content;
            height: fit-content;
            padding: 20px 0;
            transform: none;
            background-image: url('@img/none.png');
        }

        &__name {
            font-size: 45px;
        }

        &__image {
            opacity: 1;
            border-radius: 0;
            transform: none;

        }

        &:hover,
        &:focus {
            .game__image {
                transform: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .game {
        width: 100%;
        &__link {
            width: 100%;
        }

        &__name {
            font-size: 30px;
        }

        &__description {
            text-align: center;
        }

        &__image {
            width: 100%;
            height: 180px;
        }
    }
}