// $wrapper: 1250px;
// $border-line: 1px solid #505050;

%button-yellow {
    box-shadow: 0 0 5px 0 #000;
    background-color: #FFF27B;
    border: solid 2px #000;
    border-radius: 20px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &:hover {
        background-color: #feed57;
    }
    &:active {
        transform: scale(0.9);
    }
}

%button-red {
    background: linear-gradient(143.84deg, rgba(237, 193, 193, 0.008) 14.48%, rgba(254, 254, 254, 0.2) 49.03%, rgba(162, 40, 40, 0.2) 82.47%), #D7443E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all .1s ease-in-out;
    &:active {
        transform: scale(0.9);
    }
}